<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XClock.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XClock.Model.Properties.Settings>
            <setting name="WorkTime" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ShortBreakTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LongBreakTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Reps" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="IsSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateTime" serializeAs="String">
                <value>01/01/0001 12:00:00</value>
            </setting>
        </XClock.Model.Properties.Settings>
    </userSettings>
</configuration>